@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Comfortaa|Roboto&display=swap');

* {
  margin: 0 !important;
  padding: 0;
  text-align: center;
}

body {
  //border: 2px solid red;
  width: 100%;
  left: 0;
}

#content {
  height: 94vh;
}

.container {
  display: grid;
  height: 100%;
  grid-gap: 1em;
}

.container > div {
  /*border: 5px solid blue;*/
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #040404;
  left: -200px;
  transition: all 350ms linear;
}

#sidebar.active {
  left: 0px;
}

.toggle-btn {
  position: absolute;
  left: 230px;
  top: 12px;
}

.toggle-btn > span {
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin: 3px 0px;
}

#sidebar > ul > li {
  color: white;
  list-style: none;
  border-bottom: 2px solid grey;
}

#sidebar > ul > li > a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  position: relative;
  color: white;
  background: none;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 200px;
  height: 50px;
  line-height: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#sidebar > ul > li > a:hover {
  background: #0a0a0a;
}
