<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

  <div id="content">

    <div class="container">
      <div id="mainText">
        Выбор точки
      </div>

      <div id="time">
        <span id="day"></span>
        <br/>
        <span id="hour"></span>
      </div>

      <div id="div-button-trans">
        <!--        <h:form>-->
        <!--          <h:commandLink styleClass="btn-trans" value="Перейти"  action="#{controller.redirect('main')}">-->
        <!--            <i class="fa fa-external-link"/>-->
        <!--          </h:commandLink>-->
        <!--        </h:form>-->
      </div>

    </div>

  </div>

</body>
</html>
